[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subrown
[access "refs/for/refs/*"]
	read = group user/subrown
	push = group user/subrown
	label-Code-Review = -2..+2 group user/subrown
	label-Verified = -1..+1 group user/subrown
	rebase = group user/subrown
	removeReviewer = group user/subrown
	submit = group user/subrown
[access "refs/heads/*"]
	read = group user/subrown
	create = group user/subrown
	push = +force group user/subrown
	pushMerge = group user/subrown
[access "refs/tags/*"]
	push = +force group user/subrown
	pushTag = group user/subrown
	pushSignedTag = group user/subrown
